@import "../../../utils/partical/mixins";

.loder_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 -5%;
  overflow: hidden;
  @include toRem(width, 40);

  .dot_flashing {
    position: relative;
    @include toRem(width, 6);
    @include toRem(height, 6);
    @include toRem(border-radius, 5);
    background-color: grey;
    color: grey;
    animation: dot_flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
  }
  .dot_flashing::before,
  .dot_flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }
  .dot_flashing::before {
    left: -12px;
    width: 6px;
    height: 6px;
    border-radius: 5px;
    background-color: grey;
    color: grey;
    animation: dot_flashing 1s infinite alternate;
    animation-delay: 0s;
  }
  .dot_flashing::after {
    left: 12px;
    width: 6px;
    height: 6px;
    border-radius: 5px;
    background-color: grey;
    color: grey;
    animation: dot_flashing 1s infinite alternate;
    animation-delay: 1s;
  }
}
@keyframes dot_flashing {
  0% {
    background-color: grey;
  }
  50%,
  100% {
    background-color: white;
  }
}
