@import "../../../utils/partical/mixins";

.res_category_container {
  .res_category_wrapper {
    .res_border {
      border: 8px solid #f1f1f6;
    }
    .res_category {
      display: flex;
      justify-content: space-between;
      @include toRem(padding-bottom, 24);
      @include toRem(padding-top, 16);
      cursor: pointer;
      .heading {
        margin: 0;
      }
    }
    .res_show{
      display: none;
    }
  }
}
