.body_container {
  .search {
    padding: calculateRem(5);
  }
  .search_container {
    display: flex;
    justify-content: center;
    .inputtxt {
      input {
        width: 15rem;
        padding: 0.8rem;
        border-radius: 0.5rem;
        border: 2px solid grey;
      }
    }
  }
  .rescard {
    text-decoration: none;
    color: #433939;
  }
}

@media (min-width: 993px) {
  .body_container {
    padding: 0.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
