@function calculateRem($num) {
  @return $num * 0.0625rem;
}

.card {
  border-radius: 0.5rem;
  height: auto;
  .img_card {
    overflow: hidden;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .minicard {
    padding: calculateRem(10);
    p {
      margin: calculateRem(4.8);
    }
    .cuisines {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
