@function calculateRem($num) {
  @return $num * 0.0625rem;
}

.card_container {
  width: 16.5rem;
  padding: 1.25rem 1rem;
  a {
    text-decoration: none;
  }
  .card {
    border-radius: 0.5rem;
    height: auto;
    .img_card {
      overflow: hidden;
      .card_img {
        height: 15rem;
        width: 100%;
        border-radius: 0.5rem;
      }
    }

    .minicard {
      padding: 0.625rem 0 0 0.3rem;
      font-weight: bold;
      color: #02060cbf;
      .productname {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p {
        margin: calculateRem(4.8);
      }
      .cuisines {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 100;
        color: #02060c99;
      }
      .mincard_rating {
        display: flex;
        align-items: center;
        margin: calculateRem(4.8);
        .rating_svg {
          width: calculateRem(13);
          height: calculateRem(13);
          background-color: green;
          color: white;
          padding: calculateRem(3);
          border-radius: 50%;
        }
      }
    }
  }
  .shrink{
    transition: transform 0.3s ease-in-out;
  }
  .shrink:hover{
    transform: scale(0.95); 
  }
}
