@import "../../../utils/partical/mixins";

.mobcard {
  a {
    display: flex;
    text-decoration: none;
  }
  .card_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include toRem(margin-left, 14);
    width: 100%;
    .rest_tag {
      display: flex;
      justify-content: space-between;
      .restaurantname {
        color: #3e4152;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 600;
      }
      .veg_tag {
        .veg_img {
          @include toRem(width, 60);
          @include toRem(height, 16);
        }
      }
    }
    .restaurantmeta {
      color: #696b79;
      display: flex;
      .restime {
        @include toRem(margin-left, 10);
      }
      .resprice {
        @include toRem(margin-left, 10);
      }
    }
    .cuisiones {
      color: #93959f;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
