@import "../../../utils/partical/mixins";

.mobcard {
  a {
    display: flex;
    text-decoration: none;
  }
  .card_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include toRem(margin-left, 14);
    width: 100%;
    .rest_tag {
      display: flex;
      justify-content: space-between;
      .restaurantname {
        color: #3e4152;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 600;
      }
      .veg_tag {
        .veg_img {
          @include toRem(width, 60);
          @include toRem(height, 16);
        }
      }
    }
    .restaurantmeta {
      color: #696b79;
      display: flex;
      .rating {
        .svg_container {
          @include toRem(padding-right, 5);
          .rating_svg {
            color: #b0b0b0;
            @include toRem(width, 14);
            @include toRem(height, 14);
          }
        }
      }
      .restime {
        display: flex;
        justify-content: center;
        align-items: center;
        @include toRem(margin-left, 10);
        .dot {
          @include toRem(width, 4);
          @include toRem(height, 4);
          background-color: grey;
          border-radius: 50%;
        }
        .time {
          @include toRem(padding-left, 5);
        }
      }
      .resprice {
        display: flex;
        justify-content: center;
        align-items: center;
        @include toRem(margin-left, 10);
        .dot {
          @include toRem(width, 4);
          @include toRem(height, 4);
          background-color: grey;
          border-radius: 50%;
        }
        .price {
          @include toRem(padding-left, 5);
        }
      }
    }
    .cuisiones {
      color: #93959f;
      width:268px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

@media (max-width:480px){
  .mobcard{
    .card_details{
      .rest_tag{
        .restaurantname{
          @include toRem(width, 200);
        }
      }
    }
  }
}
