.cusbtn {
  padding: 0.5rem;
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #2648c9;
  color: white;
  border-radius: 0.5rem;
  border: none;
  transition: background-color 0.3s;
}
.cusbtn:hover {
  background-color: #2a65bc;
}

