.cardslider {
  padding: 1px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 3.125rem 0;
  .cardHeading {
    position: absolute;
    top: -2rem;
    left: 2.9375rem;
  }
  .svg_arrow {
    width: 18px;
    height: 18px;
  }
  :global(.slick-slider .slick-prev) {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e7;
    top: 0%;
    left: 88%;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: black;
  }
  :global(.slick-slider .slick-prev)::before {
    content: "";
  }
  :global(.slick-slider .slick-list) {
    padding-top: 1rem;
  }
  :global(.slick-slider .slick-next) {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e7;
    right: 4%;
    top: 0%;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: black;
  }
  :global(.slick-slider .slick-next)::before {
    content: "";
  }
  :global(.slick-slider .slick-list .slick-track .slick-slide) {
    display: flex;
    justify-content: center;
  }
  :global(.slick-slider .slick-disabled) {
    background-color: #efeff2;
    color: #e1dbdb;
  }
}
